<ion-view class="body-img2" view-title="Setting" hide-back-button="true">
  <ion-content>
    <form ng-submit="changepassword()">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required="" ng-model="changedata.oldpassword">
          <label for="password" data-error="Required !">Old Password</label>
          <label for="password" class="errormessage" ng-if="errors.oldpassword[0]">{{errors.oldpassword[0]}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirmpassword" type="password" class="validate" required="" ng-model="changedata.newpassword" data-match="new.password">
          <label for="confirmpassword" data-error="Required !">New Password</label>
          <label for="confirmpassword" class="errormessage" ng-if="errors.newpassword[0]">{{errors.newpassword[0]}}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 text-center">
          <button class="btn waves-effect waves-light red lighten-1" type="submit">Change
            <i class="material-icons left">edit</i>
          </button>
        </div>
      </div>.

    </form>
  </ion-content>
