<ion-view hide-nav-bar="true">
  <ion-content>
    <div class="bgdiv">
      <div class="pd55">
        <form class="myform z-depth-4" ng-submit="generateOtp()" ng-if="!enterotp">
          <div class="row pd35 fontstyle z-depth-1">
            <div class=" col s12  text-center  bluetext">Forgot password</div>
            <!-- <img src="img/logo.png" class="logo responsive-img body-img1" alt=""> -->
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="text" class="validate" ng-focus="errors.email=''" ng-model="forgot.email">
              <label for="email" data-error="Required" data-success="right">Email Id</label>
              <span class="errormessage" ng-bind="errors.email"></span>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 ">
              <button class="btn waves-effect waves-light red darken-3 z-depth-4 float-left" type="submit" name="action">send OTP
                <!-- <i class="material-icons right">send</i> -->
              </button>
              <div class="pdbtn float-right">


                <a href="#/app/login" class="bluetext" id="fplnik">
                  Back to Login</a>

              </div>
            </div>
          </div>
        </form>
        <div ng-if="enterotp" class="myform z-depth-4">
          <div class="row pd35 fontstyle z-depth-1">
            <div class=" col s12  text-center  bluetext">Enter OTP</div>
            <!-- <img src="img/logo.png" class="logo responsive-img body-img1" alt=""> -->
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="otp" type="number" class="validate" required="" ng-model="forgot.otp">
              <label for="otp" data-error="wrong" data-success="right">OTP</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6 text-center">
              <div class="chip">
                  <i class="material-icons fs28 left">alarm</i>    
                {{(min
                  <10? "0": " ")+min}}:{{(sec<10? "0": "")+sec}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 text-center">
              <button class="btn waves-effect waves-light z-depth-2 red darken-3" ng-click="checkForOtp()">{{buttonname}}
                <!-- <i class="material-icons right">send</i> -->
              </button>
            </div>
          </div>
        </div>
        <div ng-show="showresetpassword">
          <form ng-submit="resetPassword()">
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" required="" ng-model="new.password">
                <label for="password" data-error="wrong" data-success="right">New Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="confirmpassword" type="password" class="validate" required="" ng-model="new.confirmpassword" data-match="new.password">
                <label for="confirmpassword" data-error="wrong" data-success="right">Confirm Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 text-center">
                <button class="btn waves-effect waves-light red lighten-1" type="submit">Reset Password
                  <!-- <i class="material-icons right">send</i> -->
                </button>
              </div>
            </div>.

          </form>

        </div>
  </ion-content>
</ion-view>
