<ion-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="generateOtp()" ng-show="!enterotp">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" required="" ng-model="forgot.email">
          <label for="email" data-error="wrong" data-success="right">Email Id</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 text-center">
          <button class="btn waves-effect waves-light red lighten-1" type="submit" name="action">send OTP
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </div>
      </div>
    </form>
    <div ng-show="enterotp">
      <div class="row">
        <div class="input-field col s12">
          <input id="otp" type="number" class="validate" required="" ng-model="forgot.otp">
          <label for="otp" data-error="wrong" data-success="right">OTP</label>
        </div>
      </div>
      <div class="row">
        <span>{{(min
          <10? "0": " ")+min+ " minute "}}{{(sec<10? "0": "")+sec+ " seconds "}}</span>
      </div>
      <div class="row">
        <div class="input-field col s12 text-center">
          <button class="btn waves-effect waves-light red lighten-1" ng-click="checkForOtp()">{{buttonname}}
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </div>
      </div>
    </div>
    <div ng-show="showresetpassword">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="text" class="validate" required="" ng-model="new.password">
          <label for="password" data-error="wrong" data-success="right">New Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirmpassword" type="text" class="validate" required="" ng-model="new.confirmpassword">
          <label for="confirmpassword" data-error="wrong" data-success="right">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 text-center">
          <button class="btn waves-effect waves-light red lighten-1" ng-click="resetPassword()">Reset Password
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </div>
      </div>.



    </div>
  </ion-content>
</ion-view>