<ion-view>
  <ion-header-bar>
    <h1 class="title">Product</h1>
    <div class="buttons">
      <!-- <button class="button button-clear" ng-click="closeProduct()">Close</button> -->
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row mb0" ng-repeat="order in orderhistory track by $index">
      <div class="col s12" >
        <div class="card horizontal">
          <!-- <div class="card-image">
            <img src="img/p1.jpg" class="img-responsive">
          </div> -->
          <div class="card-stacked border-left">
            <div class="card-content">
              <div class="row pb0">
                <div class="col s12">
                  <div class="pro">
                    <p>Name:{{order.name}}<span class=" badge" ng-class="{statusbadgepending:order.status=='pending',statusbadgeconfirmed:order.status=='confirmed'}" style="color:white !important">{{order.status.charAt(0).toUpperCase()+order.status.substr(1)}}</span></p>
                    <p>
                      <span class="pull-left">Qty: {{order.quantity}} </span>
                      <span class="pull-right" ng-if="order.quantity>0">Total : &#8377; {{order.quantity*order.price}}</span>
                    </p>
                    <p class="last">
                      <button ng-if="order.status=='pending'" ng-click="cancelorder($index)" class="waves-effect waves-light btn red lighten-1 pull-right">Cancel</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mb10">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="img/p1.jpg" class="img-responsive">
          </div>
          <div class="card-stacked border-left">
            <div class="card-content">
              <div class="row pb0">
                <div class="col s12">
                  <div class="pro">
                    <p>B FLIRT</p>
                    <p>
                      <span class="pull-left">100 ML </span>
                      <span class="pull-right">&#8377; 500</span>
                    </p>
                    <p class="last">
                      <button ng-click="proToProDetail()" class="waves-effect waves-light btn red lighten-1 pull-right">View</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
