<ion-view hide-nav-bar="true">

  <ion-content>
    <div class="bgdiv">
      <div class="pd55">

        <form class="myform responsive  z-depth-4" ng-submit="doLogin()">

          <div class="row pd35 logdiv z-depth-1">
            <div class=" col s12  text-center  ">Welcome</div>
            <!-- <img src="img/logo.png" class="logo responsive-img body-img1" alt=""> -->
          </div>
          
          
          <div class="row">
            <div class="input-field col s6 text-center">

              <input id="email" type="text" class="validate" required="" ng-model="retailer.email">
              <label for="email" data-error="wrong" data-success="right" ng-class="{active:retailer.email}">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 text-center">
              <input id="password" type="password" class="validate" required="" ng-model="retailer.password">
              <label for="password" data-error="wrong" data-success="right" ng-class="{active:retailer.password}">Password</label>
            </div>
          </div>

          <a href="#/app/forgotpassword" class="bluetext" id="fplnik">forgot your password ?</a>

          <div class="row">
            <div class="input-field col s12 text-center">
              <button class="btn waves-effect waves-light  red darken-3 z-depth-4" type="submit" name="action">Login
              
              </button>
            </div>
          </div>
          <div class="">
            <div class="text-center">
              <a href="#/app/register">Don't have an account?
                <b>Register</b>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>


   
  </ion-content>

</ion-view>
