<ion-view hide-nav-bar="true">

  <ion-content>

    <div class="pd55">

      <div class="row">
        <div class="col s12">
          <img src="img/logo.png" class="logo responsive-img" alt="">
        </div>
      </div>
      <form class="myform responsive  z-depth-4" ng-submit="doLogin()">

        <div class="row pd35 logdiv z-depth-1">
          <div class=" col s12  text-center  ">Welcome</div>
          <!-- <img src="img/logo.png" class="logo responsive-img body-img1" alt=""> -->
        </div>


        <div class="row mb5">
          <div class="input-field col s6 text-center">

            <input type="email" class="validate" required="" ng-model="retailer.email">
            <label class="active" for="email" data-error="invalid email" data-success="">Email</label>
          </div>
        </div>
        <div class="row mb5">
          <div class="input-field col s6 text-center">
            <input  type="password" class="validate" required="" ng-model="retailer.password">
            <label class="active" for="password" data-error="" data-success="">Password</label>
          </div>
        </div>

        <a href="#/app/forgotpassword" class="bluetext" id="fplnik">forgot your password ?</a>

        <div class="row mb5">
          <div class="input-field col s12 text-center">
            <button class="btn waves-effect waves-light  red darken-3 z-depth-4" type="submit">Login

            </button>
          </div>
        </div>
        <div class="">
          <div class="text-center">
            <a href="#/app/register">Don't have an account?
              <b>Register</b>
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="bgdiv"></div>

  </ion-content>

</ion-view>
