<ion-view>
  <ion-header-bar>
    <h1 class="title">Product</h1>
    <div class="buttons">
      <!-- <button class="button button-clear" ng-click="closeProduct()">Close</button> -->
    </div>
  </ion-header-bar>
  <ion-content>
    <!-- <div class="row">
      <div class="col s12 m7">
        <div class="carousel">
          <a class="carousel-item" href="#one!">
            <img src="img/p1.jpg">
          </a>
          <a class="carousel-item" href="#two!">
            <img src="img/p2.jpg">
          </a>
          <a class="carousel-item" href="#three!">
            <img src="img/abc1.jpg">
          </a>
        </div>
        <div class="divider"></div>
        <div class="card-content">
          <div class="row pro-mar">
            <div class="">
              <p>Product Name : B FLIRT<p>
              <p>Valume : 100 ML</p>
              <p>Price : &#8377; 500</p>
            </div>
          </div>
          <div class="row">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
        </div>
        <div class="card-action">
          <div class="text-left col s6">
            <input type="text" placeholder="Quantity">
          </div>
          <div class="text-right col s6">
            <a href="#" class="waves-effect waves-light btn-large">Buy</a>
          </div>
        </div> 

      </div>
    </div>-->
    <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image" style="width:75% !important ">
            <img src="{{'http://localhost:8000/'+productdetails.image.replace('public','storage')}}" >
            <span class="card-title">Perfume name</span>
          </div>
          <div class="card-content">

            <div class="row pro-mar">
              <div class="">
                <p>Product Name : {{productdetails.name}}
                  <p>
                    <p>Valume : {{productdetails.volume}}</p>
                    <p>Price : &#8377; {{productdetails.price}}</p>
              </div>
            </div>
            <div class="row">
              <p>{{productdetails.description}}</p>

            </div>

            <div class="card-action">
              <div class="text-left col s5">
                <input type="number" min=1 placeholder="Quantity" ng-model="products.quantity">
              </div>
              <div class="text-right col s7">
                <button class="waves-effect waves-light btn" ng-click="placeOrder()">Place Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>