<ion-view class="body-img2" view-title="My Profile">
  <ion-content>
    <div class="row">
      <form name="myform" class="col s12" ng-show="!$root.redirectedtofilladdress">
        <div class="card-panel blue-grey lighten-5">
          <div class="row mb0">
            <div class="col s12 text-center">
              <i class="material-icons usericon">account_circle</i>
            </div>
          </div>
          <div class="row fontstyle">
            <div class="input-field col s12 mt0 text-center">
              <div style="width: 100%;overflow:hidden;padding: 14px 0;">
                <p class="fancy">
                  <span>My Account</span>
                </p>
              </div>
            </div>
            <!-- <img src="img/logo.png" class="logo responsive-img body-img1" alt=""> -->
          </div>
        </div>
        <div class="profile-box">
          <ul class="tabs">
            <li class="tab col s3">
              <a class="active" href="#pd">Personal</a>
            </li>
            <li class="tab col s3">
              <a href="#sd">Shop</a>
            </li>
            <li class="tab col s3">
              <a href="#gpd">GST/PAN</a>
            </li>
          </ul>
          <div id="pd" class="col s12 profile-tab">
            <div class="row mb0 frow">
              <div class="input-field col s12">
                <input ng-model="retailersdata.name" name="name" id="name" type="text" class="validate" disabled>
                <label class="active" for="name">Full Name</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.email" id="email" name="emailaddress" type="email" class="validate" disabled>
                <label class="active" for="email">Email</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.contact" id="contact" type="text" class="validate" disabled>
                <label class="active" for="contact">Contact No.</label>
              </div>
            </div>
          </div>
          <div id="sd" class="col s12 profile-tab">
            <div class="row mb0 frow">
              <div class="input-field col s12">
                <input ng-model="retailersdata.shopname" id="shopname" name="shopname" type="text" class="validate" disabled>
                <label class="active" for="shopname">Shop Name</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.address.address" id="address" name="address" type="text" class="validate" disabled>
                <label class="active" for="address">Address</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.address.city" id="city" name="city" type="text" class="validate" disabled>
                <label class="active" for="city">City</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.address.landmark" id="landmark" name="landmark" type="text" class="validate" disabled>
                <label class="active" for="landmark">Landmark</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.address.pincode" id="pincode" name="pincode" type="text" class="validate" disabled>
                <label class="active" for="pincode">Pincode</label>
              </div>
            </div>
          </div>
          <div id="gpd" class="col s12 profile-tab frow">
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.pan" id="pan" name="pan" type="text" class="validate" disabled>
                <label class="active" for="pan">Pan</label>
              </div>
            </div>
            <div class="row mb0">
              <div class="input-field col s12">
                <input ng-model="retailersdata.gstin" id="gstin" name="gstin" type="text" class="validate" disabled>
                <label class="active" for="gstin">GST</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>



    <!-- <div ng-if="$root.showblockeddiv" class="mrtp40">
        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content text-center">
                <h4>Your account has been blocked !</h4>
                <p class="text-justify">Your account is being blocked because you've not provided the payment. Kindly complete the payment. If you've
                  already paid then click the button below or contact support.
                 Your id is {{$root.id}}&nbsp; in case you need to contact support.</p>
                <a class="btn-floating halfway-fab waves-effect waves-light btn red darken-3 z-depth-3 pos" ng-click="getStatus()">
                  <i class="material-icons rotateicon">refresh</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </ion-content>
  <ion-footer-bar ng-if="$root.contestsdata.length>0">
    <div class="footer-copyright bar bar-footer bar-light red-b">
      <div class="container">
        <marquee behavior="loop" direction="left" scrollamount="10">
          <ul id="luckyDrawList">
            <li class="fixed-footer" ng-repeat="contest in $root.contestsdata">
              <span ng-if="contest.contest">{{contest.contest}}</span>
              <span ng-if="contest.created_at">&raquo;{{contest.created_at}}</span>
              <span ng-if="contest.winner">&raquo; {{contest.winner|initCap}}</span>
              </span>
            </li>
          </ul>
        </marquee>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
