<ion-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <form name="myform" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" ng-model="reatailer.username" class="validate" required="" pattern="[a-zA-Z]+" title="please enter letters">
            <label for="name" data-error="wrong" data-success="right">Full Name</label>
          </div>
          <div class="input-field col s6">
            <input id="email" ng-model="retailer.email" type="email" class="validate" required="">
            <label for="email" data-error="Invalid address" data-success="right">Email</label>
            <span ng-show="!retailer.email.$error.email">{{retailer.email.$error.email}}</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" ng-model="retailer.password" type="password" class="validate" required="">
            <label for="password" data-error="wrong" data-success="right">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="c_password" type="password" ng-model="retailer.c_password" class="validate" required="">
            <label for="c_password" data-error="wrong" data-success="right">Confirm Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="gstin" type="text" ng-model="retailer.gstin" class="validate" required="" pattern="[a-zA-Z0-9]{15}$">
            <label for="gstin" data-error="wrong" data-success="right">GSTIN No.</label>
          </div>
          <div class="input-field col s6">
            <input id="pan" type="text" ng-model="retailer.pan" class="validate" required="" pattern="[a-zA-Z0-9]{10}$">
            <label for="pan" data-error="wrong" data-success="right">PAN No.</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="shopname" type="text" ng-model="retailer.shopname"  class="validate" required="">
            <label for="shopname" data-error="wrong" data-success="right">Shop Name</label>
          </div>
          <div class="input-field col s6">
            <input id="contact" type="text" ng-model="retailer.contact"  class="validate" required="" ng-pattern="/(7|8|9)\d{12}/">
            <label for="contact" data-error="wrong" data-success="right">Contact No.</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 text-center">
            <button class="btn-large waves-effect waves-light red lighten-1" ng-click="registerUser()">Register
              <!-- <i class="material-icons right">send</i> -->
            </button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>