<ion-view class="body-img2" hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="oops-outer">
      <div class="oops">
        <i class="material-icons font36">cloud_off</i>
        <h5> Oops ! No internet Connection retry</h5>
        <!-- <a ng-click="checkforinternet()" class="btn-floating btn waves-effect waves-light cred">
          <i class="material-icons">refresh</i>
        </a> -->
        <!-- <i class="material-icons">shopping_cart</i> -->
      </div>
    </div>
  </ion-content>
</ion-view>
