<ion-view class="body-img2" hide-back-button="true" view-title="{{productdetails.name}}">
  <!-- <ion-header-bar>
    <h1 class="title">Product</h1>
    <div class="buttons">
      <!-- <button class="button button-clear" ng-click="closeProduct()">Close</button> -->
  </div>
  </ion-header-bar> -->
  <ion-content>
    <div class="pro-content row mb0">
      <div class="c-col col s12">
        <div class="card">
          <img ng-src="{{'http://hniperfumes.in/'+productdetails.image.replace('public','storage')}}" class="responsive-img">
          <div class="row border-top pro-margin">
            <div class="pro-padding">
              <p>Product Name : {{productdetails.name}}</p>
              <p>Valume : {{productdetails.volume}}</p>
              <p>MRP : &#8377; {{productdetails.price|roundoff:2}}</p>
              <p>{{productdetails.description}}</p>
            </div>
          </div>

          <div class="card-action">
            <div class="row">
              <div class="col s6 text-left">
                <input style="height: 2.4rem;" type="number" min=1 placeholder="Quantity" ng-model="products.quantity">
              </div>
              <div class="col s6 text-right">
                <input style="height: 2.4rem;" type="text" placeholder="Salesman Id" ng-model="products.salesid">

              </div>
            </div>
            <div class="row">
              <div class="text-left col s6">
                <p> Total : &#8377; {{productdetails.price*products.quantity}} </p>
              </div>
              <div class="text-right col s6">
                <button class="waves-effect waves-light btn" ng-click="placeOrder()">Place Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar ng-if="$root.contestsdata.length>0">
    <div class="footer-copyright bar bar-footer bar-light red-b">
      <div class="container">
        <marquee behavior="loop" direction="left" scrollamount="10">
          <ul id="luckyDrawList">
            <li class="fixed-footer" ng-repeat="contest in $root.contestsdata">
              <span ng-if="contest.contest">{{contest.contest}}</span>
              <span ng-if="contest.created_at">&raquo;{{contest.created_at}}</span>
              <span ng-if="contest.winner">&raquo; {{contest.winner|initCap}}</span>
              </span>
            </li>
          </ul>
        </marquee>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
